{% load staticfiles %}
<!-- JS LOADER -->
<!-- Main Angular scripts-->
<script src="{% static 'inspinia/js/angular/angular.min.js' %}"></script>
<script src="{% static 'inspinia/js/angular/angular-animate.min.js' %}"></script>
<script src="{% static 'inspinia/js/angular/angular-sanitize.min.js' %}"></script>
<script src="{% static 'inspinia/js/ui-router/angular-ui-router.min.js' %}"></script>
<script src="{% static 'inspinia/js/bootstrap/ui-bootstrap-tpls-2.2.0.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/angular-idle/angular-idle.js' %}"></script>
<script src="{% static 'inspinia/js/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'inspinia/js/bootstrap/bootstrap3.3.6.min.js' %}"></script>
<!-- MetsiMenu -->
<script src="{% static 'inspinia/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- Peace JS -->
<script src="{% static 'inspinia/js/inspiniastatic.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/ui-select/select.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/toastr/angular-toastr.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/SweetAlert.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/angular-sweetalert.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/datapicker/datetimepicker.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/datapicker/datetimepicker.templates.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/dropzone/dropzone.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/oclazyload/dist/ocLazyLoad.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/fullcalendar/calendar.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/fullcalendar/fullcalendar.min.js' %}"></script>


<!-- Custom and plugin javascript -->
<script src="{% static 'js/lib/angular-moment.min.js' %}"></script>
<script src="{% static 'inspinia/js/jquery/moment.min.js' %}"></script>
<script src="{% static 'js/common/config.js' %}?ver=1"></script>
<script src="{% static 'js/common/directives.js' %}"></script>
<script src="{% static 'js/common/lib_directives.js' %}"></script>
<script src="{% static 'js/common/filters.js' %}"></script>
<script src="{% static 'js/common/services.js' %}"></script>
<script src="{% static 'js/common/controller.js' %}?ver=2"></script>
<script src="{% static 'js/common/module.js' %}"></script>
<script src="{% static 'js/lib/checklist-model.js' %}"></script>
<script src="{% static 'js/lib/angular-table-resize.js' %}"></script>
<script src="{% static 'js/lib/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="https://cdn.rawgit.com/JustMaier/6ef7788709d675bd8230/raw/3d39d50e66d8d77e05656ed7dd09298be7e86f1f/ngClickCopy.js"></script>



<!-- App JS -->


<script type="text/javascript" src="{% static 'js/app.js' %}?ver=1"></script>
{% block loader_js_bottom %}{%endblock%}



