<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
            <ul class="nav metismenu" id="side-menu">
                <li ng-class="wrapper.current_page == 'daily_tasks' ? 'active': ''">
                    <a href="#daily_tasks"><i class="fa fa-user"></i> <span class="nav-label">Daily Tasks</span></a>
                </li>
                <li ng-class="wrapper.current_page == 'reports' ? 'active': ''">
                    <a href="#reports"><i class="fa fa-user"></i> <span class="nav-label">Accomplishment Report</span></a>
                </li>

                <li ng-class="wrapper.current_page == 'departments' ? 'active': ''">
                    <a href="#departments"><i class="fa fa-user"></i> <span class="nav-label">Departments</span></a>
                </li>
                <li ng-class="wrapper.current_page == 'task_types' ? 'active': ''">
                    <a href="#task_types"><i class="fa fa-user"></i> <span class="nav-label">Task Types</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


            
