{% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>{{page_name}}</h2>
    </div>
</div>
{% endblock %}
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}
            <!-- Content Here -->
            <div class="row">
                <div class="row col-sm-6 col-md-4 col-lg-3">
                    <label>Date From</label>
                    <p class="input-group" ng-click="$event.stopPropagation()">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="main.open_date('date_from')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="main.filters.date_from" is-open="main.uibdates['date_from']" ng-change="main.read_pagination()"/>
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <label>Date To</label>
                    <p class="input-group"  ng-click="$event.stopPropagation()">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="main.open_date('date_to')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="main.filters.date_to" is-open="main.uibdates['date_to']" ng-change="main.read_pagination()"/>
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <label>Search</label>
                    <p class="input-group"  ng-click="$event.stopPropagation()">
                        <input type="text" class="form-control" name="search" ng-model="main.filters.name"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="main.read_pagination()"><i class="glyphicon glyphicon-search" ></i></button>
                        </span>
                    </p>
                </div>

                <div class="clearfix"></div>
                <br><br>



                <table class="table" id="table" ng-class="(loading == true) ? 'table_loading' : '' ">
                    <thead>
                        <tr class="hdr_border_r">
                            <th width="10%">Name</th>
                            <th width="10%">Date</th>
                            <th width="10%"># of Tasks</th>
                            <th width="10%">Targets</th>
                            <th width="10%">Accomplished</th>
                            <th width="10%">Gender</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in main.records" class="tr_gray hand_cursor" ng-click="main.create_dialog()">
                            <td>{$ record.user.fullname $}</td>
                            <td>{$ record.date $}</td>
                            <td>{$ record.no_tasks $}</td>
                            <td>{$ record.no_targets $}</td>
                            <td>{$ record.accomplished $} %</td>
                            <td>{$ record.user.gender $}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination></pagination>
            </div>
            <br><br><br><br>
        </div>
    </div>
</div>
