<div class="panel panel-primary" style="border:0">
    <div class="panel-heading">
        <h3 class="panel-title">Registration</h3>
        <!-- <div class="col-sm-8 col-sm-offset-4 margin_top_reverse_20">
            <div class="pull-right">
                <button class="btn btn-sm btn-warning" ng-click="main.create();">Save</button>                
                <button class="btn btn-sm btn-danger" ng-click="main.close_dialog()">Close</button>                
            </div>
        </div> -->
    </div>
    <div class="panel-body">
        <div class="ibox-content" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <div class="row">
            <form class="form" name="form">
            </form>
            </div>
            <div class="clearfix"><br></div>
            <div class="row">
	            <div class="col-sm-12">
		    	    <button class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="main.register();">Save</button>                
		    	    <button class="btn btn-sm btn-danger" ng-click="main.close_dialog()">Close</button>                
	            </div>
            </div>
        </div>
    </div>
</div>
